# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\jarodkong\bluemoonCode\shardingsphere-4.1.1\shardingsphere-ui\shardingsphere-ui-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
